<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/images/favicon.svg">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;500;700&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="/styles/global.css">
  <link rel="stylesheet" href="/styles/questions.css">
  <link rel="stylesheet" href="/styles/modalDelete.css">



  <title>Sala - Rcoket.Q</title>
</head>

<body>
  <div class="content">
    <header class="rocketq__header">
      <a href="/"><img class="rocketq__logo" src="/images/logo.svg" alt="Lupa e rocket.q"></a>

      <div class="header__buttons">
        <a class="buttons__copyRoomCode rocketq__button" href="#">
          <span data-roomid="<%= parseInt(roomid) %>">#<%= parseInt(roomid) %></span>
          <img class="copyRoomCode__image" src="/images/copy.svg" alt="Copiar codigo">
        </a>
        <button class="buttons__createRoom">
          <img class="createRoom__image" src="/images/users-white.svg" alt="Ilustração dois usuarios">
          Criar sala
        </button>
      </div>
    </header>
    <main class="roomMainContent">
      <section class="askQuestion">
        <h2 class="askQuestion__title">Faça sua pergunta</h2>
        <form class="askQuestion__form" action="/questions/<%= parseInt(roomid) %>" method="POST">
          <div>
            <label class="askQuestion__label sr-only" for="yourQuestion">O que você quer perguntar?</label>
            <input name="questionText" placeholder="O que você quer perguntar?" class="askQuestion__input" type="text"
              required minlength="10">
          </div>
          <div class="askQuestion__buttonWrapper">
            <p class="askQuestion__message">
              <img class="message__image" src="/images/lock_black.svg" alt="Cadeado">
              <span>Esta pergunta é anônima</span>
            </p>
            <button class="askQuestion__button">Enviar</button>
          </div>

        </form>
      </section>

      <section class="questions">
        <h2 class="sr-only">Perguntas enviadas</h2>
        <ul class="questions__list">
          <% questions.forEach(question => { %>
          <li class="questions__item" id="questionid" data-questionid="<%= question.id %>">
            <div class="questions__question">
              <img src="/images/avatar.svg" alt="Ilustração de uma pessoa" class="question__image">
              <p class="question__text"><%= question.questionText %></p>
            </div>
            <div class="questions__actions">
              <a href="#" class="questions__check actions__wrapper">
                <img class="actions__icon" src="/images/check.svg" alt="">
                <span class="actions__text">Marcar como lida</span>
              </a>
              <a href="#" class="questions__trash questions__buttonDelete">
                <img class="actions__icon" src="/images/trash.svg" alt="">
                <span class="actions__text">Excluir</span>
              </a>
            </div>
          </li>
          <% }); %>

          <% questionsRead.forEach(questionRead => { %>
          <li class="questions__item questions__item--read" data-questionid="<%= questionRead.id %>">
            <div class="questions__question">
              <img src="/images/avatar.svg" alt="Ilustração de uma pessoa"
                class="question__image question__image--read">
              <p class="question__text"><%= questionRead.questionText %></p>
            </div>
            <div class="questions__actions">


              <a href="#" class="actions__wrapper">
                <img class="actions__icon" src="/images/check.svg" alt="">
                <span class="actions__text">Pergunta lida</span>
              </a>
            </div>
          </li>
          <% }); %>



        </ul>
      </section>
    </main>

  </div>

  <!-- modalDelete__close  -->
  <div class="modalDelete__wrapper modalDelete__open">
    <div class="modalDelete__content">
      <h2 class="modalDelete__title">Exluir pergunta</h2>
      <p class="modalDelete__warning">Tem certeza que você deseja excluir esta pergunta?</p>

      <form method="POST" data-modalForm class="modalDelete__form" action="#">
        <label class="sr-only" for="password">Digite sua senha</label>
        <input name="password" class="modalDelete__input" id="password" type="password" placeholder="Digite sua senha">
        <div class="modalDelete__buttons">
          <a class="rocketq__button modalDelete__cancelBtn modalDelete__button" href="#">Cancelar</a><button
            class="modalDelete__deleteBtn modalDelete__button">Excluir</button>
        </div>
      </form>
    </div>
  </div>
  <script src="/scripts/main.js" defer type="module"></script>
</body>

</html>